html {
    height: 95%;
    width: 95%;
    background-color: rgb(20, 20, 20);
}

body {
    height: 100%;
    width: 100%;
}

.start-button {
    border: 2px solid rgb(192, 192, 192);
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-size: 3em;
    padding: 5px;
}

.game-zone {
    height: 80%;
    width: 100%;
}

.figures-zone {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-zone {
    display: flex;
    height: 15%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.button-zone {
    display: flex;
    height: 15%;
    flex-wrap: nowrap;
}

button {
    border: 2px solid rgb(136, 136, 136);
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
    box-sizing: border-box;
}

button svg {
    width: 50px;
    height: 50px;
}

button.selected {
    color: rgb(224, 224, 224);
    background-color: rgb(97, 97, 97);
}

.grid-zone {
    position: relative;
    height: 300px;
    width: 300px;
}

.history-card {
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 10px;
}

.picture {
    position: absolute;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    width: 150px;
    height: 150px;
    gap: 0;
}

.cell {
    width: 46px;
    height: 46px;
    margin: 2px;
}

@keyframes borderFadeOut {
from {
    transform: scale(0.7);
}
65%{
    transform: scale(1.05);
}
to {
    transform: scale(1);
}
}

.pop-animation {
    animation: borderFadeOut 0.5s forwards;
}

.filled {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
    box-sizing: border-box;
}

.level-button {
    width: 50px;
    height: 50px;
    color: aliceblue;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-size: 3em;
    padding: 5px;
}

@media screen and (min-width: 480px) {
    html {
        width: 480px;
        margin: auto;
    }
}